{% extends 'basePublic.html' %}

{% block title %} About {% endblock %}

{% block content %}


<h2> Purpose </h2>
<p> For the people that constantly worry about their time management or have too many tasks during the day to complete,
     this application is for you. With the Eagleland application, you can now neatly organize your tasks into an 
     effective schedule that corresponds with your friends and family time as well! </p>

     


<h2> Team Roles </h2>

<ul>
     <li> President: John Yuhn  </li>
     <li> Project Manager: Adam Ruyten </li>
     <li> Market Analyst: Sierra Reed  </li>

     <li> Requirements Analysts: </li>
     <ul>
          <li>Orin Higgns</li>
          <li>Matthew Maille</li>
     </ul>

     <li> Software Developers: </li>
     <ul>
          <li>Bryce Benjamin</li>
          <li>Jacob Weidokal</li>
          <li>Jared Anderson</li>
          <li>Nathan Hahn</li>
     </ul>

     <li> Test Engineers: </li>
     <ul>
          <li>Jessica Warren</li>
          <li>Luke Rinehart</li>
     </ul>
    
      <li> Operation Engineer: Brian Cottrell </li>

</ul>

{% endblock %}
