{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1> About </h1>

<h2> Purpose </h2>
<p> For the people that constantly worry about their time management or have too many tasks during the day to complete,
     this application is for you. With the Eagleland application, you can now neatly organize your tasks into an 
     effective schedule that corresponds with your friends and family time as well! </p>]

     


<h3> Team Roles </h3>

<ol> 
    <li> President: John Yuhn  </li>

    <li> Project Manager: Adam Ruyten </li>

    <li> Market Analyst: Sierra Reed  </li>

    <li> Requirements Analysts: 
            Orin Higgns 
            Matthew Maille  </li>

    <li> Software Developers: 
            Bryce Benjamin
            Jacob Weidokal 
            Jared Anderson
            Nathan Hahn </li>

    <li> Test Engineers:
            Jessica Warren
            Luke Rinehart </li>
    
   <li> Operation Engineers:
        Brian Cottrell </li> 

</ol>

{% endblock %}
