{% extends 'base.html' %}

{% block title %} About

{% block content %}


<h2> Purpose </h2>
<p> For the people that constantly worry about their time management or have too many tasks during the day to complete,
     this application is for you. With the Eagleland application, you can now neatly organize your tasks into an 
     effective schedule that corresponds with your friends and family time as well! </p>]

     


<h2> Team Roles </h2>

<ol> 
    <li> President: John Yuhn  </li>

    <li> Project Manager: Adam Ruyten </li>

    <li> Market Analyst: Sierra Reed  </li>

    <li> Requirements Analysts: 
        <ul>
                Orin Higgns 
                Matthew Maille 

         </ul>   
        </li>

    <li> Software Developers: 
          <ul>
                Bryce Benjamin
                Jacob Weidokal 
                Jared Anderson
                Nathan Hahn


          </ul>  
        </li>

    <li> Test Engineers:
           <ul>
                Jessica Warren
                Luke Rinehart

           </ul> 
         </li>
    
   <li> Operation Engineers:
        Brian Cottrell </li> 

</ol>

{% endblock %}
