
{% extends 'base.html' %}

{% block title %} Calendar {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/core/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/daygrid/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/timegrid/main.min.css') }}">
{% endblock %}

{% block headScript %}
    <script src="{{ url_for('static', filename='fullCalendar/core/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullCalendar/daygrid/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullCalendar/timegrid/main.min.js') }}"></script>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/calendar.js')}}"></script>
{% endblock %}

{% block content %}

    <h1>Calendar Page</h1>

    <div id="calendar"></div>

{% endblock %}