
{% extends 'basePrivate.html' %}

{% block title %} Calendar {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/core/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/daygrid/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/timegrid/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/bootstrap/main.min.css') }}">
{% endblock %}

{% block headScript %}
    <script src="{{ url_for('static', filename='fullCalendar/core/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullCalendar/interaction/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullCalendar/daygrid/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullCalendar/timegrid/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullCalendar/bootstrap/main.min.js') }}"></script>
{% endblock %}

<!------------------ Calendar Page HTML Content ------------------------------->
{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-1">
                <div class="mt-5 pt-3">
                    <div style="width:50px;height:50px;border:1px solid black;background-color:rgb(143,223,130);opacity:0.3;"></div>
                    <p>Free Time</p>
                </div>
                <div class="mt-1">
                    <div style="width:50px;height:50px;border:1px solid black;"></div>
                    <p>Busy</p>
                </div>
            </div>
            <div class="col-md-8">
                
                <div id="calendar"></div>
            </div>
            
            <div class="col-md-3 p-3" style="background-color: whitesmoke">
                <div class="mb-3">
                    <h6>Add Friend</h6>
                    <input type="email" placeholder="friend@email.com" id="add-friend" />
                    <button onClick="addFriend()" class="btn btn-primary">Add</button>
                </div>
                <div>
                    <h6>Select a friend to compare schedules</h6>
                    <div id="friend-list" class="list-group">
                        <!-- Friends will be added in here on page load -->
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    
    

{% endblock %}
<!---------------------------------------------------------------------------->

{% block script %}
    <script>

        function compareCalendar(e) {
            window.location.href=
                `{{ url_for('compare_calendar', id='KEY') }}`.replace('KEY', e.id);
        }

        function isEmpty(obj) {
            for(var key in obj) {
                if(obj.hasOwnProperty(key))
                    return false;
            }
            return true;
        }

        function addFriend() {
            var email = $("#add-friend").val();
            window.location.href=`{{ url_for('add_friend', email='KEY') }}`.replace('KEY', email);
        }

        $(document).ready(function() {
            var calendarEl = document.getElementById('calendar');

            var events = '{{ events }}';
            var splitEvents = events.split('&#39;').join('"')
            parsedEvents = JSON.parse(splitEvents);
            console.log(parsedEvents);

            var friends = '{{ friends }}';
            friends = friends.split('&#39;').join('"')
            console.log(friends);
            friends = JSON.parse(friends);
            if (isEmpty(friends)) {
                let element  = '<div class="list-group-item">Sorry, you have no friends :(</div>';
                $('#friend-list').append(element);
            } else {
                for (var key in friends) {
                    let e = document.createElement('button');
                    e.setAttribute('class', 'list-group-item list-group-item-action');
                    e.setAttribute('id', key);
                    e.onclick = function() {
                        compareCalendar(e);
                    };
                    e.innerHTML = friends[key];
                    $('#friend-list').append(e);
                }
            }

        
            var calendar = new FullCalendar.Calendar(calendarEl, {
                selectable: true,
                selectMirror: true,
                unselectAuto: false,
                snapDuration: '00:05',
                plugins: [ 'interaction', 'timeGrid', 'bootstrap' ],
                // Defaults to weekly view with times
                defaultView: 'timeGridWeek',
                // Buttons at the top of calendar
                header: {
                    left: 'timeGridWeek,timeGridDay',
                    center: 'title',
                    right: 'today prev,next'
                },
                // Use bootstrap 4 for theming
                themeSystem: 'bootstrap',
                // Line displaying the time right now
                nowIndicator: true,
                // Array holding all event objects
                events: parsedEvents,
                // Allow user to create an event
                select: function(info) {
                    var title = prompt('Event Title:');
                    var eventData;
                    if (title) {
                        eventData = {
                            title: title,
                            start: info.start,
                            end: info.end
                        };

                        var friendID = '{{ friendID }}';
                        var userID = '{{ userID }}';
                        var startTime = new Date(info.start).toJSON();
                        var endTime = new Date(info.end).toJSON();
                        var createEvent = `{{ url_for('create_event', userID='USERID', friendID='FRIENDID', title='TITLE', start='START', end='END') }}`;

                        createEvent = createEvent.replace('USERID', userID);
                        createEvent = createEvent.replace('FRIENDID', friendID);
                        createEvent = createEvent.replace('TITLE', title);
                        createEvent = createEvent.replace('START', startTime);
                        createEvent = createEvent.replace('END', endTime);
                        createEvent = createEvent.split('&amp;').join('&');
                        createEvent = createEvent.split(' ').join('%20');
                        
                        window.location.href=createEvent;
                    }
                    $('#calendar').fullCalendar('unselect');
                }
            });
        
            calendar.render();
        });
        
    </script>
{% endblock %}