{% extends 'base.html' %}

{% block title %} Contact {% endblock %}

{% block content %}

<h2> Team E-mails </h2>

<ul> 
    <li> President: John Yuhn - jyun4@kent.edu </li>

    <li> Project Manager: Adam Ruyten - Aruyten@kent.edu </li>

    <li> Market Analyst: Sierra Reed - sreed30@kent.edu </li>

    <li> Requirements Analysts: </li>
    <ul>
        <li> Orin Higgns - ohiggins@kent.edu </li>
        <li> Matthew Maille - mmaille@kent.edu </li>
    </ul>   
        

    <li> Software Developers: </li>
    <ul>
        <li> Bryce Benjamin - bbenjam5@kent.edu </li>
        <li> Jacob Weidokal - jweidoka@kent.edu </li>
        <li> Jared Anderson - jande135@kent.edu </li>
        <li> Nathan Hahn </li>
    </ul>  
        

    <li> Test Engineers: </li>
        <ul>
            <li> Jessica Warren - jwarre24@kent.edu </li>
            <li> Luke Rinehart - lrineha1@kent.edu </li>
        </ul> 
         
    
   <li> Operation Engineers: </li> 
   <ul>
        <li>Brian Cottrell - bcottrel@kent.edu </li>
   </ul>
</ul>

{% endblock %}