
{% extends 'basePrivate.html' %}

{% block title %} Calendar {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/core/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/daygrid/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/timegrid/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/bootstrap/main.min.css') }}">
{% endblock %}

{% block headScript %}
    <script src="{{ url_for('static', filename='fullCalendar/core/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullCalendar/interaction/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullCalendar/daygrid/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullCalendar/timegrid/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullCalendar/bootstrap/main.min.js') }}"></script>
{% endblock %}

<!------------------ Calendar Page HTML Content ------------------------------->
{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <div id="calendar" class="col-md-8"></div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <p>Click on a friend to see free times</p>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action">
                        Friend 1
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        Friend 2
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        Friend 3
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        Friend 4
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        etc...
                    </button>
                </div>
            </div>
            <div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <form name="save-event" method="post">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" name="title" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Event start</label>
                                    <input type="text" name="evtStart" class="form-control col-xs-3" />
                                </div>
                                <div class="form-group">
                                    <label>Event end</label>
                                    <input type="text" name="evtEnd" class="form-control col-xs-3" />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <p id="test"></p>
        </div>
        <br>
    </div>
    
    

{% endblock %}
<!---------------------------------------------------------------------------->

{% block script %}
    <script>
        $(document).ready(function() {
            var calendarEl = document.getElementById('calendar');

            var events = '{{ events }}';
            var splitEvents = events.split('&#39;').join('"')
            parsedEvents = JSON.parse(splitEvents);
            console.log(parsedEvents);

            var friends = '{{ friends }}';
            console.log(friends);
        
            var calendar = new FullCalendar.Calendar(calendarEl, {
                //selectable: true,
                selectMirror: true,
                unselectAuto: false,
                snapDuration: '00:05',
                plugins: [ 'interaction', 'timeGrid', 'bootstrap' ],
                // Defaults to weekly view with times
                defaultView: 'timeGridWeek',
                // Buttons at the top of calendar
                header: {
                    left: 'timeGridWeek,timeGridDay',
                    center: 'title',
                    right: 'today prev,next'
                },
                // Use bootstrap 4 for theming
                themeSystem: 'bootstrap',
                // Line displaying the time right now
                nowIndicator: true,
                // Array holding all event objects
                events: parsedEvents,
                // Allow user to create an event
                /* select: function(info) {
                    var title = prompt('Event Title:');
                    var eventData;
                    if (title) {
                        eventData = {
                            title: title,
                            start: info.start,
                            end: info.end
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                    }
                    $('#calendar').fullCalendar('unselect');
                } */
            });
        
            calendar.render();
        });
        
    </script>
{% endblock %}