
{% extends 'basePrivate.html' %}

{% block title %} Calendar {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/core/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/daygrid/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/timegrid/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/bootstrap/main.min.css') }}">
{% endblock %}

{% block headScript %}
    <script src="{{ url_for('static', filename='fullCalendar/core/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullCalendar/interaction/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullCalendar/daygrid/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullCalendar/timegrid/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullCalendar/bootstrap/main.min.js') }}"></script>
{% endblock %}


<!------------------ Calendar Page HTML Content ------------------------------->
{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <div id="calendar" class="col-md-8"></div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <p>Click on a friend to see free times</p>
                <div id="friend-list" class="list-group">
                    <!-- Friends will be added in here on page load -->
                </div>
            </div>
        </div>
        <br>
    </div>
    
    

{% endblock %}
<!---------------------------------------------------------------------------->

{% block script %}
    <script>
        
        function isEmpty(obj) {
            for(var key in obj) {
                if(obj.hasOwnProperty(key))
                    return false;
            }
            return true;
        }

        $(document).ready(function() {
            var calendarEl = document.getElementById('calendar');
            
            var events = '{{ events }}';
            var splitEvents = events.split('&#39;').join('"');
            parsedEvents = JSON.parse(splitEvents);
            console.log(parsedEvents);

            var friends = '{{ friends }}';
            friends = friends.split('&#39;').join('"');
            console.log(friends);
            friends = JSON.parse(friends);
            if (isEmpty(friends)) {
                let element  = '<div class="list-group-item">Sorry, you have no friends :(</div>';
                $('#friend-list').append(element);
            } else {
                for (var key in friends) {
                    let e = document.createElement('button');
                    e.setAttribute('class', 'list-group-item list-group-item-action');
                    e.onclick = function() {
                        window.location.href=`{{ url_for('compare_calendar', id='KEY') }}`.replace('KEY', key);
                    }
                    e.innerHTML = friends[key];
                    $('#friend-list').append(e);
                }
            }
            
        
            var calendar = new FullCalendar.Calendar(calendarEl, {
                //selectable: true,
                selectMirror: true,
                unselectAuto: false,
                snapDuration: '00:05',
                plugins: [ 'interaction', 'timeGrid', 'bootstrap' ],
                // Defaults to weekly view with times
                defaultView: 'timeGridWeek',
                // Buttons at the top of calendar
                header: {
                    left: 'timeGridWeek,timeGridDay',
                    center: 'title',
                    right: 'today prev,next'
                },
                // Use bootstrap 4 for theming
                themeSystem: 'bootstrap',
                // Line displaying the time right now
                nowIndicator: true,
                // Array holding all event objects
                events: parsedEvents,
                // Allow user to create an event
                select: function(info) {
                    var title = prompt('Event Title:');
                    var eventData;
                    if (title) {
                        eventData = {
                            title: title,
                            start: info.start,
                            end: info.end
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                    }
                    $('#calendar').fullCalendar('unselect');
                }
            });
        
            calendar.render();
        });
        
    </script>
{% endblock %}
