{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css', q='') }}">
{% endblock %}

{% block content %}
    <div class="radial-bg vert-align">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-1 text-center text-white">Shared Skies</h1>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-12" align="center">
                    <div class="button-spacer">&nbsp;</div>
                    <button
                            type="button"
                            class="btn btn-primary button"
                            onclick="window.location.href='{{ url_for('login') }}'"
                    >Create Account</button>
                    <div class="button-spacer">&nbsp;</div>
                </div>
                <div class="col-md-12" align="center">
                    <button
                            type="button"
                            class="btn btn-primary button"
                            onclick="window.location.href='{{ url_for('web_test') }}'"
                    >Login</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
