{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-1">Calendar App</h1>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <button type="button" class="btn btn-primary">Create Account</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary">Login</button>
        </div>
    </div>
</div>
{% endblock %}
